node_modules
server/certs/*.pem
server/certs/*.csr
data/token-certs/*.pem
data/token-certs/*.csr
*.bak
credentials.json
clients-db.json
users-db.json
*.PID
push*
notes.md
*.tar
.env
sessions
logs
docs
