<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">
      <h2>Access Denied</h2>
      <p>
        Your current login with username <b><%= username %></b> requires a role of
        <b><%= required %></b> or higher to access this page.
      </p>
      <p>
        To check your current permissions you may view the
        <a href="/account">account</a>
        and check your current <b>role</b>.
      </p>

    </div>
    <%- include('menu-footer') %>
  </body>
</html>
