<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/password.css">
  </head>
  <body>
    <div class='main-page'>
      <h2>Change Password</h2>
      <div class="content-area">
        <p>
          <%= passwordMessage %>
        </p>
      </div>
      <div class="vh-20"></div>
      <div>
        <a href="/changepassword"><button>Try Again</button></a>
      </div>
    <div>
  </body>
</html>
