<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-alt-header') %>
    <div class="scrollable-div">
      <h2>Change Password</h2>
      <p>
        You password has been successfully changed. You may navigate back to the
        main web site.
      </p>
      <p>
        PASSWORD CHANGE HAS NOT BEEN IMPLEMENTED YET.
      </p>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
