<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change User Password</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>

    <div class="scrollable-div">
      <form action="/changepassword" method="post">
        <fieldset>
          <div class="center">
            <h1>Change Password</h1>
            <h3 class="red-text">Not Implemented yet!!!</h3>
          </div>
          <p>Username: <%= username %></p>
          <div hidden>
            <input name="username" type="text" value="<%= username %>" autocomplete="username" readonly>
          </div>
          <div>
              <label class="labels" for="oldpassword">Current password:</label>
              <input id="oldpassword" type="password" name="oldpassword" autocomplete="current-password" required disabled/>
          </div>
          <div>
              <label class="labels" for="newpassword">New password:</label>
              <input id="newpassword1" type="password" name="newpassword2" autocomplete="current-password" required/ disabled>
          </div>
          <div>
              <label class="labels" for="newpassword">New password:</label>
              <input id="newpassword2" type="password" name="newpassword2" autocomplete="current-password" required/ disabled>
          </div>
          <div>
            <button class="button" type="submit" value="Submit">Submit</button>
            <button class="button lm-20">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
