<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collab-auth menu</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">

      <h2>Remove Tokens</h2>
      <p>
        Confirm you want to remove all access-tokens and refresh-tokens from the database.
        In the case of PostgreSQL, stored sessions are cleared.
      </p>
      <div>
        <a href="/removealltokens?confirm=yes"><button class="button">Remove</button></a>
        <a href="/menu"><button class="button">Cancel</button></a>
      </div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
