<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>collab-auth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <div>
    <form action="/login" method="post">
      <fieldset>
        <div class="center">
            <h1>User Login</h1>
        </div>
        <div>
            <label class="labels" for="name">Username:</label>
            <input id="name" type="text" name="username" autocomplete="username" required/>
        </div>
        <div>
            <label class="labels" for="password">Password:</label>
            <input id="password" type="password" name="password" autocomplete="current-password" required/>
        </div>
        <div>I consent to use of cookies</div>
        <div>
            <button type="submit" value="Submit">Sign in</button>
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>
