<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>collab-auth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div>
    <form action="/login" method="post">
      <fieldset>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="center">
            <h1>User Login</h1>
        </div>
        <% if(opt.failMessage){ %>
          <div class="red-text center">
            <%= opt.failMessage %>
          </div>
          <div class="div-height-20"></div>
        <% } %>
        <div>
            <label for="name">Username:</label>
            <input type="text" name="username"
            minlength="1" maxlength="<%= opt.maxUnLen %>"
            autocomplete="username" required/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password"
            minlength="1" maxlength="<%= opt.maxPwLen %>"
            autocomplete="current-password" required/>
        </div>
        <div>I consent to use of cookies</div>
        <div>
            <button type="submit" value="Submit">Sign in</button>
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>
