<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collab-auth Logout</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
<body>
  <div class="head-fixed">
    <div class="head-flex">
      <div class="head-left">
      </div>
      <div class="head-right">
        <a href="/logout"><button class="button">Logout</button></a>
      </div>
    </div>
  </div>
  <div class="scrollable-div">
    <div class="content-area">
      <div>
        <h1>Logout</h1>
        <p>
          You have been logged out of the authorization server.
        </p>
      </div>
    </div>
  </div>
  <%- include('menu-footer') %>
</body>
</html>
