<div class="footer">
  <div class="foot-flex">
    <div class="foot-left">
    </div>
    <div class="foot-center">
      Collab-auth
    </div>
    <div class="foot-right">
    </div>
  </div>
</div>
