<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Admin Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('menu-header') %>
    <div class="scrollable-div">

      <h2>Web Administration Panel</h2>

      <table border="0">
        <tbody>
          <tr><td>
            <a href="/panel/listusers"><button class="button">Select</button></a>
          </td><td></td><td>
            List users, select a user record for editing.
          </td></tr>

          <tr><td>
            <a href="/panel/createuser"><button class="button">Select</button></a>
          </td><td></td><td>
            Create a new user record
          </td></tr>

          <tr><td>
            <a href="/panel/listclients"><button class="button">Select</button></a>
          </td><td></td><td>
            List clients, select a client record for editing
          </td></tr>

          <tr><td>
            <a href="/panel/createclient"><button class="button">Select</button></a>
          </td><td></td><td>
            Create a new client record
          </td></tr>

          <tr><td>
            <a href="/panel/stats"><button class="button">Select</button></a>
          </td><td></td><td>
            View Stats
          </td></tr>

          <tr><td>
            <a href="/panel/removealltokens"><button class="button">Select</button></a>
          </td><td></td><td>
            Removes all tokens and sessions
          </td></tr>

        </tbody>
      </table>
      <div class="vh-20"></div>
      <div class="content-area" <%= visibility %> >
        <h3>Changes will be lost when the server is restarted.</h3>
        <p>
          The PostgreSQL database has been disabled in the configuration.
          The Admin Panel is available for only for testing or
          demonstration purposes.
        </p><p>
          During development, to make persistant changes to users and clients including
          passwords and scope, edit the static configuration files
          &quotclient-db.json&quot and &quotuser-db.json&quot.
          and restart the authorization server.
        </p>
      </div>
    </div>
    <%- include('menu-footer') %>
  </body>
</html>
