<div class="head-fixed">
  <div class="head-flex">
    <div class="head-left">
      <a href="/menu"><button class="button">Menu</button></a>
    </div>
    <div class="head-right">
      <span><%= name %></span>
      <a href="/logout"><button class="button">Logout</button></a>
    </div>
  </div>
</div>
