<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collab-auth Insufficient Scope</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <%- include('menu-alt-header') %>
  <div class="scrollable-div">
    <div class="content-area">
      <div>
        <h1>Insufficient Scope</h1>
        <p>
          Your account username and password have been successfully logged into this authorization server.
          However the configuration settings for your user account do not grant permission
          to access this resource. Please contact your administrator.
        </p>
      </div>
    </div>
  </div>
  <%- include('menu-alt-footer') %>
</body>
</html>
